.builder {
  background-image: url('../img/Builder.png')
}

.master {
  background-image: url('../img/Master.png')
}

.mechanic {
  background-image: url('../img/Mechanic.png')
}

.medic {
  background-image: url('../img/Medic.png')
}

.thief {
  background-image: url('../img/Thief.png')
}