.airplane {
    background-image: url('../img/AirplaneBig.png')
}

.aria-hammera {
    background-color: pink
}

.audible-motivation {
    background-color: green
}

.autoclicker {
    background-image: url('../img/AutoClickerBig.png')
}

.better-building {
    background-color: magenta
}

.blue-block {
    background-image: url('../img/BlueBlockPurchase.png')
}

.buddy-system {
    background-image: url('../img/BuddySystem.png')
}

.buyable {
    background-size: cover;
    display: inline-block;
    height: 45px;
    margin-right: 5px;
    width: 45px;
}

.click-efficiency {
    background-image: url('../img/ClickEfficiency.png')
}

.cloner {
    background-image: url('../img/Cloner.png')
}

.click-tower {
    background-image: url('../img/ClickTower.png')
}

.cloner-overdrive {
    background-image: url('../img/ClonerOverdrive.png')
}

.consumer {
    background-image: url('../img/Consumer.png')
}

.cost-tower {
    background-image: url('../img/CostTower.png')
}

.cybernetic-synergy {
    background-image: url('../img/CyberneticSynergy.png')
}

.djinn {
    background-image: url('../img/DjinnBig.png')
}

.efficient-operations {
    background-image: url('../img/EfficientOperations.png')
}

.extended-cargo {
    background-image: url('../img/ExtendedCargo.png')
}

.faded {
    opacity: 0.6
}

.firmware-v1-0-0-1,
.firmware-v1-0-0-2,
.firmware-v1-0-0-3,
.firmware-v1-0-0-4,
.firmware-v1-0-0-5,
.firmware-v1-0-0-6,
.firmware-v1-0-0-7,
.firmware-v1-0-0-8,
.firmware-v1-0-0-9,
.firmware-v1-0-0-10,
.firmware-v1-0-0-11,
.firmware-v1-0-0-12,
.firmware-v1-0-0-13,
.firmware-v1-0-0-14,
.firmware-v1-0-0-15,
.firmware-v1-0-0-16,
.firmware-v1-0-0-17,
.firmware-v1-0-1-0 {
    background-color: darkblue;
}

.fleet-beacon {
    background-color: blueviolet
}

.garbage-truck {
    background-image: url('../img/GarbageTruck.png')
}

.green-block {
    background-image: url('../img/GreenBlock.png');
}

.hammer {
    background-image: url('../img/HammerBig.png')
}

.heavier-hammers {
    background-color: red
}

.helping-hand, .helping-handsier, .helping-handsiest {
    background-image: url('../img/HelpingHand.png')
}

.power-tower {
    background-image: url('../img/PowerTower.png')
}

.robot {
    background-image: url('../img/RobotBig.png')
}

.tamer {
    background-image: url('../img/TamerBig.png')
}

.the-awakening {
    background-image: url('../img/GatheringPower.png')
}

.toxic-capacity {
    background-color: purple
}

.toxicity-recycling {
    background-color: orange;
}

.toxicity-tower {
    background-color: green
}